@import "tailwindcss";

@theme {
  /* === Cores personalizadas === */
  --color-tcinza-1: #0a0a0a;
  --color-troxo-1: #9813d6;
  /* === Breakpoints personalizados === */ /* Largura (px) / Altura (px) = 16 / 9 */
  --breakpoint-xs: 360px; /* celulares pequenos - altura +- 667px */
  --breakpoint-sx: 390px; /* celulares modernos - altura +- 667px */
  --breakpoint-md: 768px; /* tablets - altura +- 432px */
  --breakpoint-lg: 1366px; /* notebooks - altura +- 768px */
  --breakpoint-xl: 1920px; /* desktop Full HD - altura +- 1080px */
  --breakpoint-2xl: 2560px; /* monitores QHD - altura +- 1440px */
  --breakpoint-4k: 3840px; /* monitores 4K - altura +- 2126px */
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto.ttf") format("truetype");
}
